{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indra_Cast</title>


    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
        

</head>
<body>
    <nav class="navbar">
        <div class="navcontainer">
            <a href="#" class="navbar-brand">INDRA_CAST</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5"style='width: 28% ; margin: 10px auto; margin-top: 125px;'>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-5 px-4">
            <div class="bg-white rounded p-4"style='width: 95% ; margin: 10px auto; margin-top: 10px;'>
              <h2 class="text-center custom-color underline mb-4" style="text-align: center; font-size: 1.5em;">Address</h2>
              <div class="container d-flex">
                <iframe class="w-100 rounded mb-4" height="250px" width="272px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31115.92113979095!2d74.93676950000001!3d12.876173599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba3585ea5927d6f%3A0xc65abe4f89ccf8ab!2sSrinivas%20Institute%20Of%20Technology%20(S.I.T)!5e0!3m2!1sen!2sin!4v1721225229663!5m2!1sen!2sin" width="800" height="802" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
              </div>
            
              <div class="container d-flex" style="text-align: center;">
                <div class="col-lg-6" >
                  <h2 class="mt-4 text-center custom-color underline" style="text-align: center;">Call Us</h2>
                  <a href="tel:+919141258312" class="d-inline-block mb-2 text-decoration-none text-dark">
                    <i class="bi bi-telephone-fill"></i> +91 9141258312
                  </a><br>
                  <a href="tel:+919480953746" class="d-inline-block mb-2 text-decoration-none text-dark">
                    <i class="bi bi-telephone-fill"></i> +91 9480953746
                  </a><br>
                </div>
                <br>
                <div class="col-lg-6">
                  <h2 class="mt-4 underline custom-color mb-3"style="text-align: center;">Email</h2>
                  <a href="mailto:nethranand12345@gmail.com.com" class="d-inline-block text-decoration-none text-dark">
                    <i class="bi bi-envelope-fill"></i> nethranand12345@gmail.com
                  </a><br>
                  <a href="mailto:madanraikar27@gmail.com" class="d-inline-block text-decoration-none text-dark">
                    <i class="bi bi-envelope-fill"></i> madanraikar27@gmail.com
                  </a><br>
                </div>
              </div>
              <h2 class="mt-4 text-center custom-color underline" style="text-align: center;">Follow us</h2>
              <div class="social-icons text-center" style="width: 45%; margin: 10px auto; margin-top: 5px; text-align: center;">
                <a href="#" class="d-inline-block mb-3 text-dark fs-5 me-2" style="margin-right: 10px;">
                    <i class="bi bi-twitter me-1" style="font-size: 2em;"></i>
                </a>
                <a href="#" class="d-inline-block mb-3 text-dark fs-5 me-2" style="margin-right: 10px;">
                    <i class="bi bi-linkedin me-1" style="font-size: 2em;"></i>
                </a>
                <a href="#" class="d-inline-block mb-3 text-dark fs-5 me-2">
                    <i class="bi bi-instagram me-1" style="font-size: 2em;"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- body end -->
</body>
</html>