{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Indra_Cast {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    
    <nav class="navbar">
        <div class="navcontainer" style="width: 500px;">
            <a href="#" class="navbar-brand">INDRA_CAST</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/compare" class="nav-link">Compare</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>  
            </ul>
        </div>
    </nav>
   
    <div class="container">
        <div class="search-box">
            <i class='bx bxs-map'></i>
            
            <form class="hello"  action=""  >
                <input class="inputs" type="text" placeholder="enter your location">
            </form>
            <button class="bx bx-search"></button>
        </div>
        

        <p class="city-hide">city hide</p>

        <div class="weather-box">
            <div class="box">
                <div class="info-weather">
                    <a href="compare"><img src="{% static '/images/cloud.png' %}"></a>
                    
                    <p class="temperature">16<span>℃</span></p>
                    <p class="description">Broken CLouds</p>
                </div>
            </div>
        </div>
        <div class="weather-details">
            <div class="humidity">
                <i class='bx bx-water'></i>
                <div class="text">
                    <div class="info-humidity">
                        <span class="humidity-text">0%</span>
                    </div>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="wind">
                <i class='bx bx-wind' ></i>
                <div class="text">
                    <div class="info-wind">
                        <span class="wind-text">0Km/h</span>
                    </div>
                    <p>Wind Speed</p>
                </div>
            </div>    
        </div>
        <div class="not-found">
            <div class="box">
                <img src="{% static '/images/404.png' %}" >
                <p>Oops! Location not found!</p>
            </div>
        </div>
    </div>
    <div class="map_container">
        
        <div id="map"></div>
        <!-- prettier-ignore -->
        <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: "AIzaSyCnmZ2c_eJZooWHYtjolhLWfEN7qP9Rz0c", v: "weekly"});
        </script>
        <div class="mapnot-found">
            <div class="box">
                <img src="{% static '/images/map404.png' %}" >
                <p>Oops! Map not found!</p>
            </div>
        </div>
        
    </div>
    


    <!-- Pass the image URL to JavaScript -->
    <script>
        const clear = "{% static 'images/clear.png' %}";
        const cloud = "{% static 'images/cloud.png' %}";
        const mist = "{% static 'images/mist.png' %}";
        const rain = "{% static 'images/rain.png' %}";
        const snow = "{% static 'images/snow.png' %}";
    </script>
    <script src="{% static 'script.js' %}"></script>
    

</body>

</html>